<div class="dashboard-container">
    <div class="stats-container">
        <div class="stats-item">
            <span class="stats-label">Average Recovery Time</span>
            <span class="stats-value">{{ avg }} months</span>
        </div>
        <div class="stats-item">
            <span class="stats-label">Median Recovery Time</span>
            <span class="stats-value">{{ median }} months</span>
        </div>
        <div class="stats-item">
            <span class="stats-label">Total Drawdowns</span>
            <span class="stats-value">{{ total }}</span>
        </div>
    </div>

    <div class="row-container">
        <div class="graph-container">
            <canvas id="scatterChart" width="570" height="425"></canvas>
            {{ scatter_points|json_script:"scatter-data" }}
        </div>
        <div class="graph-container">
            <canvas id="barGraph" width="570" height="425"></canvas>
            {{ recovery_graph|json_script:"bar-graph" }}
        </div>
    </div>

    <div class="row-container">
        <div class="graph-container">
            <canvas id="scatterChart-2" width="570" height="425"></canvas>
            {{ drawdown_period_graph|json_script:"scatter-data-2"}}
        </div>
    </div>

</div>